.rightnav {
  padding-top: 8px;
  font-size: .75rem;
}

.footerlinkright {
  padding-right: 1rem;

  font-size: .8rem;
}

.footerlinkleft {
  padding-left: 1rem;

  font-size: .8rem;
}

#signin {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;
}

#logo {
  margin-top: auto;
}

#searchbar {
  padding-top: 1.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right:auto;
}

#buttonbar {
  max-width: 600px;         /* sets row width so columns stay put */
  margin-left: auto;    /* centers the row in the container */
  margin-right: auto;   /* centers the row in the container */
  padding: 1.5rem;
}

#footer {
  background-color: WhiteSmoke;
  position: absolute;
  bottom: 0;
  width: 100%;
      /* Footer height --- turned out to be causing problems by setting it */
}

 #leftfooter {
   min-width: 376px;    /* keeps cols on same row until they cant */
}

#rightfooter {
  min-width: 243px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  margin-left: 20px;
  font-size: 14px;
}

a.typoUno {
  color: black;
  text-decoration: none;
}

a.typoUno:hover {
  text-decoration: underline;
}

a.typoDos {
  color: #70757a;
  text-decoration: none;
}

a.typoDos:hover {
  text-decoration: underline;
}
