h1 {
  color:blue;
}

h5 {
  color:white;
}

h6 {
  color:white;
}

body {
  background-color: darkred;
  margin: 0;
  font-family: "Fantasy", "Papyrus";
}

footer {
  color:white;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background-image: url("https://hlt22.github.io/Assets/orion.png");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}
#animateH {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80px;
  left: 80px;
}

#animateU {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 100px;
}

#animateN {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 4px;
  left: 66px;
  right: 17px;
  bottom: 15px;
}

#animateT {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 15px;
}

#animateE {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 250px;
  left: 30px;
}

#animateR {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 250px;
  left: 120px;
}
